.profileStatus {
    position: relative;
    display: flex;
    width: 100%;
}

.profileStatus-editMode {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.profileStatus-input {
    background-color: rgb(250, 250, 250);
    font-size: 18px;
    padding: 10px;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 10px;
}

.profileStatus-container {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    bottom: -250%;
}

.profileStatus-button {
    margin-top: 20px;
    padding: 5px 10px;
    width: 15%;
    min-width: 60px;
}

.profileStatus-span {
    margin-top: 0.5em;
}

/* @media screen and (max-width: 550px) {
    .profileStatus-span {
        margin-top: 5px;
    }
} */