.nav-links {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
    background-color: white;
    border-radius: 5px;
}

.nav-links_container-links {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 10%;
    padding: 20px;
}
.container-links-link {
    color: black;
    padding: 5px;
    margin: 2px;
    font-size: 22px;
    border-radius: 3px 10px 3px 3px;
    transition: .2s;
}

.container-links-link:hover {
    color: white;
    background-color: steelblue;
}

.container-links_wraper {
    display: flex;
    align-items: center;
}

.container-links_wraper i::before {
   font-size: 22px;
   margin-right: 2px;
   text-align: center;
   transform: translate(0, -5%)
}

@media screen and (max-width: 1200px) {
    .nav-links_container-links {
        padding: 10px;
        min-width: 170px;
    }
}
@media screen and (max-width: 700px) {
    .nav-links {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 0px 0px 5px 5px;
        max-height: 50px;
    }

    .container-links-link:hover {
        color: black;
        background-color: white;
    }

    .nav-links_container-links {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

    .container-links-link {
        padding: 0;
    }

    .nav-links_container-links {
        padding: 12px 0;
    }

    .container-links_wraper {
        margin: 0px 8px;
    }
}
