.app, body, html, #root{
  font-family:'Gill Sans', 'Gill Sans MT';
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: rgb(105, 105, 105);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  font-size: 20px;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app a {
  text-decoration: none;
}

.visual-input {
  outline: none;
  background-color: rgb(250, 250, 250);
  font-size: 18px;
  border: 2px solid rgb(230, 230, 230);
}

.visual-button {
  background-color: rgb(250, 250, 250);
  font-size: 18px;
  color: grey;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
  cursor: pointer;
}

.app_container {
  width: 85%;
  height: 90%;
  display: flex;
}

.visual-container {
  background-color: rgb(250, 250, 250);
  border: 2px solid rgb(230, 230, 230);
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .app_container {
    flex-direction: column;
    width: 100%;
  }

  .app {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .app_container {
    width: 95%;
  }
}